body{
    background-color: #222;
    font-family: 'Courier New', Courier, monospace;
}
#container{
    background-color: #111;
    height: 65%;

}
#Title{
    margin-left: 34%;
    color: white;
    font-size: 350%;
}
a{
    background-color: #212121;
    text-decoration: none;
    color:white;  
    padding:1%;
}
a:hover{
    background-color: #333;
}
#anon{
  
    margin-left: 16%;
    font-size: 250%;
    border: black ;
    border-style: solid ;
}
#login{
    text-align:center;
    align-self: center;

    margin-left: 26%;
    
    font-size: 250%;
    border: black ;
    border-style: solid ;
}
#dms{
    margin-top: 10%;
    margin-left: 46%;
    
    font-size: 250%;
    border: black ;
    border-style: solid ;
    
}
#dms::after{
    padding:none;
}
#idfk{
    height: 2.1%;
    
}
hr{
    background: linear-gradient(to right, rgb(255, 55, 222),rgb(77, 0, 219));
    height: 5px;
    border: none;
}
