@keyframes lineAnim{
        0%{
                color: linear-gradient(to right, rgb(206, 87, 170), rgb(50,0,150));
        }
        12.5%{
                color: linear-gradient(to right,rgb(167,65,165), rgb(89,21,155));
        }
        25%{
                color: linear-gradient(to right, rgb(128,43,160), rgb(128,43,160));
        }
        37.5%{
                color: linear-gradient(to right, rgb(89,21,155), rgb(167,65,165));
        }
        50%{
                color: linear-gradient(to right, rgb(50,0,150), rgb(206, 87, 170));
        }
        67.5%{
                color: linear-gradient(to right, rgb(89,21,155) , rgb(167,65,165));
        }
        75%{
                color: linear-gradient(to right, rgb(128,43,160), rgb(128,43,160));
        }
        87.5%{
                color: linear-gradient(to right,rgb(167,65,165), rgb(89,21,155));
        }
        100%{
                color: linear-gradient(to right, rgb(206, 87, 170) ,rgb(50,0,150));
        }
}
body{
        background-color: #222222;
        font-family: 'Courier New', Courier, monospace;
}

a{
        background: #1a1a1a;
        /*padding: 0.8%;*/
        /*margin: 28%;*/
        color: white;
        text-decoration: none;
}
#anon{
        margin-top: 110%;
        margin-left: 20%;
        padding: 2.5%;
}
#login{
        margin-left: 30%;
        padding: 2.7%;
}
#dm{
        margin-left: 100%;
        display: block;
        margin-top: 50%;
}
#container{
        background-color: #111111;
        color: #ffffff;
        width: 100%;
        height: 80%;
        
        left: 50%;
        
}
#Title{
        align-self: center;
        font-size: 300%;
        margin-left: 34%;
        padding-top: 5%;
}

hr {
        /*height: 0.09%;*/
        color:darkorchid;
        animation-name: lineAnim;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        
}

#idfk{
        height: 0.72%;
}
#idk{
        height: 7%;

}

